<section class="container h-100">

	<div class="row justify-content-center align-items-center">

		<div class="col-12 col-md-6">

			<h2>🚗</h2>

			<div *ngIf="this.version">
				<p>I have nothing but this buttons</p>
				<a class="btn btn-dark" href="" routerLink="/login">Login</a>
				<p class="text-muted mt-5">version: {{this.version}}</p>
			</div>

			<div *ngIf="!this.version">
				<p>I have nothing</p>
			</div>

			<div>
				<p>{{this.envText}}</p>
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" role="switch" id="switchIsProduction"
						[checked]="this.isProduction">
					<label class="form-check-label" for="switchIsProduction">Production ({{this.isProduction}})</label>
				</div>
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" role="switch" id="switchIsApiEnabled"
						[checked]="this.isApiEnabled">
					<label class="form-check-label" for="switchIsApiEnabled">ApiEnabled ({{this.isApiEnabled}})</label>
				</div>
			</div>

		</div>
	</div>
</section>
