<!-- Button trigger modal -->
<button *ngIf="!nobutton" type="button" class="btn btn-primary" data-bs-toggle="modal" attr.data-bs-target="#{{id}}">
	Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="{{id}}" tabindex="-1" attr.aria-labelledby="{{id}}Label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="confirm_{{id}}Label">{{title}}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{{body}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
					(click)="onCancelHandler()">{{'Cancel' }}</button>
				<button type="button" class="btn btn-danger" (click)="onSubmitHandler()">{{'Ok' }}</button>
			</div>
		</div>
	</div>
</div>
