<header>

	<nav class="navbar navbar-expand-md bg-dark border-bottom border-body fixed-top" data-bs-theme="dark">

		<div class="container">
			<a class="navbar-brand" href="/">🦊</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">

					<li class="nav-item">
						<a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
							<app-icons icon="home"></app-icons> Home
						</a>
					</li>

					<!--
					<li class="nav-item" *ngFor="let public of publicRoutes">
						<a class="nav-link" [routerLink]="public.path" routerLinkActive="active"
							ariaCurrentWhenActive="page">
							<app-icons icon="{{public.title}}"></app-icons> {{public.title}}
						</a>
					</li>
					-->
					<li class="nav-item" *ngFor="let secure of secureRoutes">
						<a class="nav-link" [routerLink]="secure.path" routerLinkActive="active"
							ariaCurrentWhenActive="page">
							<app-icons icon="{{secure.title}}"></app-icons> {{secure.title}}
						</a>
					</li>


					<li class="nav-item dropdown" *ngIf="!isHiddenIsProduction">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							🐞 T
						</a>
						<ul class="dropdown-menu dropdown-menu-dark">
							<li><a class="dropdown-item" routerLink="/styleguide">Styleguide</a></li>
							<li><a class="dropdown-item" routerLink="/oeps">Oeps</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li *ngFor="let test of testRoutes">
								<a class="dropdown-item" [routerLink]="test.path" href="#">
									{{test.title}}
								</a>
							</li>
						</ul>
					</li>

					<li class="nav-item dropdown" *ngIf="!isHiddenIsProduction">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							🐞 P
						</a>
						<ul class="dropdown-menu dropdown-menu-dark">
							<li *ngFor="let pages of pagesRoutes">
								<a class="dropdown-item" [routerLink]="pages.path" href="#">
									{{pages.title}}
								</a>
							</li>
						</ul>
					</li>

				</ul>

				<ul class="navbar-nav ms-auto">
					<app-profile-dropdown></app-profile-dropdown>
				</ul>

			</div>
		</div>
	</nav>
</header>
