@import "../../../styles/default_import";

.container-login {
	height: 100vh;
	#auth-sidebar {
		background-color: $swatchGreenDarken; // #00883d;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-image: url("../../../assets/images/bg/turbine.jpg");
		.bg-color {
			background-color: rgba($swatchGreenDarken, 0.7); //rgba(#00883d, 0.7);
			width: 100%;
			height: 100%;
			.logo {
				img {
					width: 50%;
					max-width: 200px;
					margin-bottom: 2rem;
				}
			}
		}
		.container {
			padding: 3rem;
		}
		@include respond-below(md) {
			display: none;
		}
	}
	#auth-content {
		header {
			display: none;
			@include respond-below(md) {
				display: block;
			}
			.logo {
				img {
					width: 50%;
					max-width: 200px;
					margin-bottom: 2rem;
				}
			}
		}

		.container {
			padding: 3rem;
			@include respond-below(md) {
				padding: 1rem;
			}
		}
	}
}
